<div class="container-fluid">
    <div class="row">
        <main class="col-sm-10">
            <!-- Top buttons  -->
            <div
                class="d-flex justify-content-end flex-wrap flex-sm-nowrap align-items-right pt-3 pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group btn-group-md me-2">
                        <button *ngIf="currentState === availableStates.READ" type="button"
                            class="btn btn-md btn-outline-secondary" (click)="onDashboardsConfigLoad()">
                            Load</button>
                        <button *ngIf="currentState ===availableStates.READ" type="button"
                            class="btn btn-md btn-outline-secondary" (click)="onNewDashboardsConfig()">
                            New</button>
                        <button *ngIf="currentState === availableStates.READ" type="button"
                            class="btn btn-md btn-outline-secondary" (click)="onEnterEditMode()">
                            Edit</button>
                        <ng-container *ngIf="[availableStates.EDIT, availableStates.CREATE].includes(currentState)">
                            <button type="button" class="btn btn-md btn-outline-secondary" (click)="onSave()">
                                Save</button>
                            <button type="button" class="btn btn-md btn-outline-secondary" (click)="onClear()">
                                Clear</button>
                            <button type="button" class="btn btn-md btn-outline-secondary" (click)="onCancelCreate()">
                                Cancel</button>
                        </ng-container>
                        <ng-container *ngIf="(dashStore.loadedDashboard$ | async) as dashboard">
                            <button *ngIf="currentState === availableStates.READ" type="button"
                                class="btn btn-md btn-outline-secondary" (click)="onDashboardDelete(dashboard.id)">
                                Delete</button>
                        </ng-container>
                    </div>
                </div>
            </div>
            <app-messages></app-messages>
            <app-load-dashboard *ngIf="isLoadCfgOpen" (close)="onHandleLoadModalClose()"></app-load-dashboard>
            <ng-container *ngIf="(dashStore.loadedDashboard$ | async) as dashboard">
                <h6 class="small-info">{{dashboard.name}}</h6>
            </ng-container>
            <!-- Content -->
            <ng-container *ngIf="(dashStore.loadedDashboard$ | async) as dashboard">
                <div *ngFor="let symbol of dashboard.trackedSymbols">
                    <app-dashboard 
                        [isEditable]="[availableStates.EDIT, availableStates.CREATE].includes(currentState)"
                        [trackedSymbol]="symbol"
                        (removeRequested)="onRemoveDashboard(symbol)"
                        >
                    </app-dashboard>
                </div>
            </ng-container>
            <!-- AddSymbol button -->
            <div class="d-flex justify-content-center" *ngIf="[availableStates.EDIT, availableStates.CREATE].includes(currentState)">
                <button class="btn btn-primary" 
                (click)="onAddNewSymbolToTrack()" 
                *ngIf="!isAddingNewSymbol"
                [disabled]="!allowNewElement"
                > Add symbol to track
                </button>
                <ng-container *ngIf="isAddingNewSymbol">
                    <input type="text" (keypress)="onNewTrackedSymbolInput()"
                        (keyup.enter)="onNewSymbolSubmit($event)" />
                    <!-- <ul class="list-group" *ngIf="(dataStore.availableSymbols$ | async) as symbols">
                    <li *ngFor="let symbol of symbols" class="list-group-item">{{symbol}}</li>
                </ul> -->
                </ng-container>
                <hr>
            </div>
        </main>
    </div>
</div>