
<div
    class="d-flex justify-content-between flex-sm-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2">AAPL </h1>
    <app-linechart></app-linechart>
    <app-avgcalc></app-avgcalc>
</div>
<div
    class="d-flex justify-content-between flex-sm-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2">AAPL </h1>
    <app-linechart></app-linechart>
    <app-avgcalc></app-avgcalc>
</div>
<div
    class="d-flex justify-content-between flex-sm-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2">AAPL </h1>
    <app-linechart></app-linechart>
    <app-avgcalc></app-avgcalc>
</div>
